html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url(techwall.png) no-repeat center center fixed;
    background-size: cover;
    color: #DDDDDD;
}

a, a:visited {
    color: #AAAAEE;
}
a:hover {
        color: #b6ff00;
}