/*#region Main Outline*/
.mainDailyMeals {
    padding: 0.3rem;
    display: grid;
    grid-gap: 0.3rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    align-content: center;
}

@media only screen and (min-width: 1245px) {
    .mainDailyMeals {
        grid-template-columns: repeat(3, minmax(20rem, 1fr));
    }
}

@media only screen and (min-width: 376px) and (max-width: 430px), (min-width: 1630px), (min-width: 270px) and (max-width: 307px) {
    .mainDailyMeals {
        justify-items: center;
    }

    #dayArea, #addFoodArea, #foodDetailsArea {
        width: 35rem;
    }
}

#dayArea, #addFoodArea, #foodDetailsArea {
    height: 40rem;
    padding: 0.1rem;
}
/*#endregion Main Outline*/

/*#region DayArea Block*/
#dayArea {
    display: flex;
    flex-direction: column;
}

.datepick {
    text-align: center;
}

    .datepick input {
        height: 2rem;
        font-size: 1rem;
        text-align: center;
        font-weight: bold;
    }

.mealsArea {
    margin: 0.3rem 0;
    flex: auto;
    overflow: auto;
}

.mealArea {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}

    .mealArea:hover {
        background-color: rgba(255, 228, 196, 0.75);
    }

.mealTitle, .mealTotal, .macroRes, .dayTotal {
    font-size: 1.1rem;
    font-weight: bold;
}

.managerImg {
    float: right;
    padding: 0 0.3rem;
}

    .managerImg:hover {
        color: coral;
        background-color: saddlebrown;
    }

.foodEntry {
    display: grid;
    grid-template-columns: 2.5rem 1fr 6.2rem;
}

    .foodEntry:hover {
        color: orangered;
    }

.name_brand, .amount, .macro {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

    .name_brand:hover, .amount:hover, .macro:hover {
        white-space: normal;
        word-break: break-word;
    }

.macroRes {
    grid-column: span 3;
    justify-self: center;
}

.mealTotal, .dayTotal {
    text-align: right;
}

    .mealTotal span:first-child, .dayTotal span:first-child {
        width: 0px;
        white-space: nowrap;
        float: left;
    }
/*#endregion DayArea Block*/

/*#region addFoodArea Block*/
#addFoodArea {
    display: flex;
    flex-direction: column;
}

.searchForm {
    font-weight: bold;
}

    .searchForm button {
        float: right;
    }

.amountForm {
    padding: 0.2rem;
    text-align: right;
}

    .amountForm label {
        float: left;
    }

#addFoodArea #search {
    height: 2rem;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
}

#addFoodArea #amountSize {
    height: 2rem;
    width: 30%;
    padding: 0 0.2rem;
    font-size: 1rem;
    font-weight: bold;
}

.searchResults {
    flex: auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: rgba(255, 241, 224, 0.5);
}

#addFoodArea hr {
    margin: 1rem 0;
}

.foodItem {
    display: grid;
    grid-template-columns: 1fr 6.5rem 2rem;
}

    .foodItem:hover {
        color: orangered;
        background-color: rgba(255, 228, 196, 0.75);
    }

.feSelected {
    color: coral;
    background-color: saddlebrown;
    border: 1px solid coral;
}

    .feSelected * {
        white-space: normal;
        word-break: break-word;
    }

.searchEntry {
    text-align: center;
    font-size: 1.1rem;
}

.addMealArea {
    text-align: center;
}

    .addMealArea div {
        display: flex;
    }

    .addMealArea label {
        flex-shrink: 0;
    }

    .addMealArea input {
        height: 2rem;
        padding: 0 0.2rem;
        font-size: 1rem;
        font-weight: bold;
    }

.newMName {
    min-width: 20%;
}

.newMPortion {
    width: 10%;
}

.newFoodForm {
    display: grid;
    grid-template-columns: 20% minmax(10%, 1fr);
    grid-row-gap: 1rem;
}

    .newFoodForm .newFoodHeader, .afaInfo {
        grid-column: 1 / span 2;
    }

    .newFoodForm input, .newFoodForm select {
        height: 1.7rem;
        padding: 0 0.2rem;
        margin: 0 0.1rem;
        font-size: 1rem;
        font-weight: bold;
        min-width: 15%;
    }

    .newFoodForm div {
        display: flex;
        justify-content:space-between;
    }

    .newFoodForm select {
        flex-shrink: 0;
    }

    .newFoodForm span {
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: bold;
    }
.smallerInput {
    width: 30%;
}
.afaInfo {
    margin:2rem 0;
    color:purple;
}
    /*#endregion addFoodArea Block*/
    /*#region FoodDetailsArea Block*/
    #foodDetailsArea {
    display: flex;
    flex-direction: column;
}

    #foodDetailsArea table {
        width: 100%;
    }

    #foodDetailsArea table, #foodDetailsArea td, #foodDetailsArea th {
        border: 1px solid red;
        border-collapse: collapse;
    }

    #foodDetailsArea td {
        width: 33%;
    }

.foodDetailsHeader > :first-child {
    text-align: center;
}

.foodPic {
    max-height: 50%;
    text-align: center;
}

    .foodPic img {
        width: auto;
        height: auto;
        max-height: 100%;
        max-width: 100%;
        padding: 0.2rem;
        text-align: center;
        opacity: 0.9;
    }

.foodInfo {
    flex: auto;
    overflow: auto;
}

    .foodInfo .comp {
        text-align: center;
        text-decoration: underline;
    }
/*#endregion FoodDetailsArea Block*/

/*#region Note*/
.note, .noteEdit {
    color: black;
    background-color: rgba(143, 136, 80, 0.25);
    border: 1px dotted slategrey;
    border-radius: 10px;
}

    .note .managerImg:hover, .noteView:hover, .nSelected {
        color: lightyellow;
        background-color: slategrey;
    }

    .note .scoreImg {
        float: left;
        padding: 0 0.3rem;
    }

    .note .title {
        font-weight: bold;
        font-size: 1rem;
    }

    .note .notetext {
        font-size: 0.8rem;
    }

.noteEdit {
    display: flex;
    flex-direction: column;
}

    .noteEdit .editChoices input {
        margin: 0 0.3rem;
    }

    .note button, .noteEdit button {
        height: 1.3rem;
        color: lightyellow;
        background-color: slategrey;
        font-size: 0.8rem;
        float: right;
        border-radius: 5px;
    }

    .noteEdit .newNote {
        display: grid;
        grid-template-columns: auto 1fr;
    }

    .noteEdit .noteSearch {
        height: 1.5rem;
        display: flex;
    }

        .noteEdit .noteSearch input {
            height: 1.3rem;
            flex: auto;
            font-size: 0.8rem;
        }

    .noteEdit .noteaddFoodArea {
        max-height: 8rem;
        overflow: auto;
    }
/*#endregion Note*/
