/* #region Main Outline */
.mainDailyMeals {
  display: grid;
  grid-gap: 0.3rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));

  padding: 0.3rem;
  align-content: center;
}

@media only screen and (min-width: 1245px) {
  .mainDailyMeals {
    grid-template-columns: repeat(3, minmax(20rem, 1fr));
  }
}

@media only screen and (min-width: 376px) and (max-width: 430px), (min-width: 1630px), (min-width: 270px) and (max-width: 307px) {
  .mainDailyMeals {
    justify-items: center;
  }

  .dayArea,
  .addFoodArea,
  .foodDetailsArea {
    width: 35rem;
  }
}

.dayArea,
.addFoodArea,
.foodDetailsArea {
  display: flex;
  flex-direction: column;

  height: 40rem;
  padding: 0.1rem;
}

/* #endregion Main Outline */

/* #region DayArea Block */
.datepick {
  text-align: center;
}

.datepick input {
  font-size: 1rem;
  font-weight: bold;

  height: 2rem;

  text-align: center;
}

.mealsArea {
  flex: auto;

  overflow: auto;

  margin: 0.3rem 0;
}

.mealArea {
  display: flex;
  flex-direction: column;

  margin-top: 0.5rem;
}

.mealArea:hover,
.mealArea:focus {
  background-color: rgba(255, 228, 196, 0.75);
}

.mealTitle,
.mealTotal,
.macroRes,
.dayTotal {
  font-size: 1.1rem;
  font-weight: bold;
}

.managerImg {
  float: right;

  padding: 0 0.3rem;
}

.managerImg:hover,
.managerImg:focus {
  color: coral;
  background-color: saddlebrown;
}

.foodEntry {
  display: grid;
  grid-template-columns: 2.5rem 1fr 6.2rem;
}

.foodEntry:hover,
.foodEntry:focus {
  color: brown;
}

.name_brand,
.amount,
.macro {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.name_brand:hover,
.amount:hover,
.macro:hover,
.name_brand:focus,
.amount:focus,
.macro:focus {
  white-space: normal;
  word-break: break-word;
}

.macroRes {
  grid-column: span 3;

  text-align: center;
}

.mealTotal,
.dayTotal {
  text-align: right;
}

.mealTotal span:first-child,
.dayTotal span:first-child {
  float: left;

  width: 0;

  white-space: nowrap;
}

/* #endregion DayArea Block */

/* #region addFoodArea Block */
.searchForm {
  font-weight: bold;
}

.searchForm button {
  float: right;
}

.amountForm {
  padding: 0.2rem;

  text-align: right;
}

.amountForm span {
  float: left;
}

.addFoodArea .search {
  font-size: 1rem;
  font-weight: bold;

  width: 100%;
  height: 2rem;
}

.addFoodArea .amountSize {
  font-size: 1rem;
  font-weight: bold;

  width: 30%;
  height: 2rem;
  padding: 0 0.2rem;
}

.addFoodArea hr {
  margin: 1rem 0;
}

.searchResults {
  display: flex;
  overflow: auto;
  flex-direction: column;

  background-color: rgba(255, 241, 224, 0.5);
  flex: auto;
}

.foodItem {
  display: grid;
  grid-template-columns: 1fr 6.5rem 2.1rem;
}

.foodItem:hover,
.foodItem:focus {
  background-color: rgba(139, 69, 19, 0.75);
}

.feSelected {
  font-weight: bold;

  color: orange;
  background-color: rgba(139, 69, 19, 0.75);
}

.feSelected * {
  white-space: normal;
  word-break: break-word;
}

.searchEntry {
  font-size: 1.1rem;

  text-align: center;
}

.addMealArea {
  text-align: center;
}

.addMealArea div {
  display: flex;
}

.addMealArea span {
  flex-shrink: 0;
}

.addMealArea input {
  font-size: 1rem;
  font-weight: bold;

  height: 2rem;
  padding: 0 0.2rem;
}

.newMName {
  min-width: 20%;
}

.newMPortion {
  width: 10%;
}

.newFoodForm {
  display: grid;
  grid-template-columns: 20% minmax(10%, 1fr);
  grid-row-gap: 1rem;
}

.newFoodForm .newFoodHeader,
.afaInfo {
  grid-column: 1 / span 2;
}

.newFoodForm input,
.newFoodForm select {
  font-size: 1rem;
  font-weight: bold;

  min-width: 15%;
  height: 1.7rem;
  margin: 0 0.1rem;
  padding: 0 0.2rem;
}

.newFoodForm div {
  display: flex;
  justify-content: space-between;
}

.newFoodForm select {
  flex-shrink: 0;
}

.newFoodForm span {
  flex-shrink: 0;

  font-size: 1.2rem;
  font-weight: bold;
}

.smallerInput {
  width: 30%;
}

.afaInfo {
  margin: 2rem 0;

  color: purple;
}

/* #endregion addFoodArea Block */

/* #region FoodDetailsArea Block */
.foodDetailsArea table {
  width: 100%;
}

.foodDetailsArea table,
.foodDetailsArea td,
.foodDetailsArea th {
  border-collapse: collapse;

  border: 1px solid red;
}

.foodDetailsArea td {
  width: 33%;
}

.foodDetailsHeader > :first-child {
  text-align: center;
}

.foodPic {
  max-height: 50%;

  text-align: center;
}

.foodPic img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  padding: 0.2rem;

  text-align: center;

  opacity: 0.9;
}

.foodInfo {
  flex: auto;

  overflow: auto;
}

.foodInfo .comp {
  text-align: center;
  text-decoration: underline;
}

/* #endregion FoodDetailsArea Block */

/* #region Note */
.note,
.noteEdit {
  color: black;
  border: 1px dotted slategrey;
  border-radius: 10px;
  background-color: rgba(143, 136, 80, 0.25);
}

.note .managerImg:hover,
.noteView:hover,
.note .managerImg:focus,
.noteView:focus {
  background-color: slategrey;
}

.nSelected {
  color: lightyellow;
  background-color: slategrey;
}

.note .scoreImg {
  float: left;

  padding: 0 0.3rem;
}

.note .title,
.noteView .title {
  font-size: 1rem;
  font-weight: bold;
}

.note .notetext {
  font-size: 0.8rem;
}

.noteEdit {
  display: flex;
  flex-direction: column;
}

.noteEdit .editChoices input {
  margin: 0 0.3rem;
}

.note button,
.noteEdit button {
  font-size: 0.8rem;

  float: right;

  height: 1.3rem;

  color: lightyellow;
  border-radius: 5px;
  background-color: slategrey;
}

.noteEdit .newNote {
  display: grid;
  grid-template-columns: auto 1fr;
}

.noteEdit .noteSearch {
  display: flex;

  height: 1.5rem;
}

.noteEdit .noteSearch input {
  font-size: 0.8rem;

  height: 1.3rem;
  flex: auto;
}

.noteEdit .noteaddFoodArea {
  overflow: auto;

  max-height: 8rem;
}

.noteSearchArea {
  overflow: auto;

  height: 10rem;
}

/* #endregion Note */
