/* #region Page Layout */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;

  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 3000px) {
  html {
    font-size: 35px;
  }
}

@media only screen and (max-width: 750px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (max-width: 350px) {
  html {
    font-size: 7px;
  }
}

body {
  font-family: Calibri, sans-serif;

  width: 100%;
  height: 100%;

  color: #500;
  background: url(SitePics/FTBack2.jpg) no-repeat center center fixed;
  background-size: cover;
}

#root {
  width: 100%;
  height: 100%;
  padding: 0.3rem 0.6rem;
}

.layout {
  display: grid;
  grid-gap: 0.15rem;
  grid-template-rows: auto auto 1fr auto;

  width: 100%;
  height: 100%;
}

/* body:after {
content: "";
position: fixed;
top: 0;
left: 0;
height: 100%;
width: 100%;
background: url(SitePics/FTBack2.jpg) no-repeat center center fixed;
background-size: cover;
opacity: 0.5;
z-index: -1;
} */

.subblock {
  padding: 1px;

  background-color: rgba(255, 228, 196, 0.5);
}

/* #endregion Page Layout */

/* #region Page Sections */
header {
  display: flex;

  min-width: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  min-width: 100%;
}

footer {
  min-width: 100%;

  text-align: center;
}

/* #endregion Page Section */

/*# region Top Section */
.logo {
  width: 5rem;
  height: 5rem;
  padding: 2px;
}

#titleArea {
  flex: auto;

  cursor: pointer;
}

#profileArea {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#profileArea * {
  cursor: pointer;
}

#profileArea > :first-child {
  grid-column: span 2;

  text-align: center;
}

#profileArea img {
  height: 2rem;
}

#title {
  font-size: 3rem;

  text-decoration: underline;
}

#subtitle {
  font-size: 1rem;
  font-style: italic;
}

.navlink {
  padding: 1px;

  text-align: center;
  text-decoration: none;

  color: #500;
}

.navlink:visited {
  color: #844;
}

.navlink:hover,
.navlink:focus {
  cursor: pointer;

  color: coral;
  background-color: saddlebrown;
}

/* #endregion Top Section */

/* #region Bottom Section */
#author {
  font-size: 1rem;

  margin: 1px;
  padding: 1px;
}

/* #endregion Bottom Section */

/* #region Misc Classes */
.textHigh {
  font-size: 1.5rem;
  font-weight: bold;
}

.boxShowS {
  margin: 1px;

  border: 1px solid red;
  border-radius: 5px;
}

.highlight {
  border: 2px solid #b64545;
  border-radius: 10px;
}

.lineDown {
  border-bottom: 1px solid black;
}

.hidden {
  display: none;
}

.ftButton {
  font-size: 1rem;
  font-weight: bold;

  margin: 0.1rem;
  padding: 0.3rem;

  border-color: black;
  border-radius: 5px;
  background-color: #b66060;
}

textarea {
  resize: none;
}

.tcenter {
  text-align: center;
}

p {
  font-size: 1.3rem;
  font-weight: bold;

  border-bottom: dotted 1px;
}

p span {
  color: red;
}

/* #endregion Misc Classes */
