<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" type="text/css" href="c1.css" />
    <title>Testing Layouts</title>
</head>
<body>
    <header>
        Header
    </header>
    <main>
        <div id="buttonarea">
            <button class="btn b1">1</button>
            <button class="btn b2">2</button>
            <button class="btn b3">3</button>
            <button class="btn b4">4</button>
            <button class="btn b5">5</button>
            <button class="btn b6">6</button>
            <button class="btn b7">7</button>
            <button class="btn b8">8</button>
            <button class="btn b9">9</button>
            <button class="btn b10">10</button>
            <button class="btn b11">11</button>
            <button class="btn b12">12</button>
            <button class="btn b13">13</button>
            <button class="btn b14">14</button>
            <button class="btn b15">15</button>
            <button class="btn b16">16</button>
        </div>
    </main>
    <footer>
        Footer
    </footer>
</body>
</html>