* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 15px;
}

@media only screen and (min-width: 3000px) {
    html {
        font-size: 35px;
    }
}

@media only screen and (max-width: 750px) {
    html {
        font-size: 10px;
    }
}

@media only screen and (max-width: 350px) {
    html {
        font-size: 7px;
    }
}

body {
    margin: 0;
    padding: 0.3rem 0.6rem;
    width: 100%;
    height: 100%;
    background: url(FTBack.jpg) no-repeat center center fixed;
    background-size: cover;
    /*background-color:bisque;*/
    font-family: Calibri;
    color: #550000;
    /*display: flex;
    flex-direction: column;*/
    display: grid;
    grid-gap: 0.15rem;
    grid-template-rows: auto auto 1fr auto;
}

    body:after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: url(FTBack2.jpg) no-repeat center center fixed;
        background-size: cover;
        opacity: 0.5;
        z-index: -1;
    }

.subblock {
    margin: 0;
    padding: 0;
    background-color: bisque;
    opacity: 0.85;
    border: 1px dotted #550000;
}

header {
    min-width: 100%;
    display: flex;
}

nav {
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {
    width: 100%;
    padding: 5px;
    /*flex: auto;*/
    border: double #550000;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    align-content: center;
}

@media only screen and (min-width: 1000px) {
    main {
        grid-template-columns: repeat(3, minmax(20rem, 1fr));
    }
}

footer {
    min-width: 100%;
    text-align: center;
}

#searcharea, #fooditemarea, #mealsarea {
    width: 100%;
    height: 35rem;
}

.logo {
    padding: 2px;
    width: 5rem;
    height: 5rem;
}

#titlearea {
    flex: auto;
}

    #titlearea > a {
        color: #550000;
        text-decoration: none;
    }

#profilearea {
}

#title {
    margin: 0;
    padding: 0;
    font-size: 3rem;
    text-decoration: underline;
}

#subtitle {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-style: italic;
}

.navlink {
    padding: 1px;
    text-align: center;
    font-size: 1.5rem;
    color: #550000;
    text-decoration: none;
}

    .navlink:visited {
        color: #883333;
    }

    .navlink:hover {
        color: coral;
        background-color: saddlebrown;
    }

#author {
    margin: 1px;
    padding: 1px;
    font-size: 1rem;
}
