/*#region Page Outline*/
* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 15px;
}

@media only screen and (min-width: 3000px) {
    html {
        font-size: 35px;
    }
}

@media only screen and (max-width: 750px) {
    html {
        font-size: 10px;
    }
}

@media only screen and (max-width: 350px) {
    html {
        font-size: 7px;
    }
}

body {
    margin: 0;
    padding: 0.3rem 0.6rem;
    width: 100%;
    height: 100%;
    background: url(FTBack.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: Calibri;
    color: #550000;
    /*display: flex;
    flex-direction: column;*/
    display: grid;
    grid-gap: 0.15rem;
    grid-template-rows: auto auto 1fr auto;
}

    body:after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: url(FTBack2.jpg) no-repeat center center fixed;
        background-size: cover;
        opacity: 0.5;
        z-index: -1;
    }

.subblock {
    margin: 0;
    padding: 1px;
    background-color: bisque;
    opacity: 0.85;
}
/*#endregion Page*/

/*#region Page Sections*/
header {
    min-width: 100%;
    display: flex;
}

nav {
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {
    width: 100%;
    padding: 5px;
    /*flex: auto;*/
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    align-content: center;
}

@media only screen and (min-width: 1000px) {
    main {
        grid-template-columns: repeat(3, minmax(20rem, 1fr));
    }
}

footer {
    min-width: 100%;
    text-align: center;
}
/*#endregion Page Section*/

/*#region Top Section*/
.logo {
    padding: 2px;
    width: 5rem;
    height: 5rem;
}

#titleArea {
    flex: auto;
}

    #titleArea > a {
        color: #550000;
        text-decoration: none;
    }

#profileArea {
}

#title {
    margin: 0;
    padding: 0;
    font-size: 3rem;
    text-decoration: underline;
}

#subtitle {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-style: italic;
}

.navlink {
    padding: 1px;
    text-align: center;
    color: #550000;
    text-decoration: none;
}

    .navlink:visited {
        color: #884444;
    }

    .navlink:hover {
        color: coral;
        background-color: saddlebrown;
    }
/*#endregion Top Section*/

/*#region Main Section*/
#mealsArea, #searchArea, #fooditemArea {
    padding: 5px;
    width: 100%;
    height: 35rem;
}

#mealsArea {
}

.datepick {
    text-align: center;
}

    .datepick input {
        height: 2rem;
        font-size: 1rem;
        text-align: center;
        font-weight: bold;
    }

    .datepick button {
        width: 2rem;
        background-color: #BB6666;
        font-size: 1rem;
        font-weight: bold;
    }

.note {
    padding: 0;
    margin: 0;
    width: 100%;
}

    .note img {
        width: 2rem;
        height: 2rem;
        float: left;
    }

    .note span {
        padding-right: 0.2rem;
        font-size: 1rem;
        font-weight: bold;
    }

    .note label {
        font-size: 0.8rem;
    }

.foodEntry {
}

    .foodEntry td{
        max-width: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .foodEntry .C1{
        width:15%;
    }
    .foodEntry .C2{
        width:60%;
    }


/*#endregion Main Section*/

/*#region Bottom Section*/
#author {
    margin: 1px;
    padding: 1px;
    font-size: 1rem;
}
/*#endregion Bottom Section*/

/*#region Misc Classes*/
.textHigh {
    font-size: 1.5rem;
    font-weight: bold;
}

.boxShow {
    border: 1px solid red;
    border-radius: 5px;
    margin: 1px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 100%;
    text-align: center;
}
/*#endregion Misc Classes*/
