/*#region Page Outline*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
    font-size: 15px;
}

@media only screen and (min-width: 3000px) {
    html {
        font-size: 35px;
    }
}

@media only screen and (max-width: 750px) {
    html {
        font-size: 10px;
    }
}

@media only screen and (max-width: 350px) {
    html {
        font-size: 7px;
    }
}

body {
    width: 100%;
    height: 100%;
    padding: 0.3rem 0.6rem;
    background: url(FTBack.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: Calibri;
    color: #550000;
    display: grid;
    grid-gap: 0.15rem;
    grid-template-rows: auto auto 1fr auto;
}

    body:after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: url(FTBack2.jpg) no-repeat center center fixed;
        background-size: cover;
        opacity: 0.5;
        z-index: -1;
    }

.subblock {
    padding: 1px;
    background-color: bisque;
    opacity: 0.85;
}
/*#endregion Page*/

/*#region Page Sections*/
header {
    min-width: 100%;
    display: flex;
}

nav {
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {
    padding: 5px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    align-content: center;
}

@media only screen and (min-width: 1245px) {
    main {
        grid-template-columns: repeat(3, minmax(20rem, 1fr));
    }
}

@media only screen and (min-width: 376px) and (max-width: 430px), (min-width: 1630px), (min-width: 270px) and (max-width: 307px) {
    main {
        justify-items: center;
    }

    #dayArea, #searchArea, #fooditemArea {
        width: 35rem;
    }
}

footer {
    min-width: 100%;
    text-align: center;
}
/*#endregion Page Section*/

/*#region Top Section*/
.logo {
    padding: 2px;
    width: 5rem;
    height: 5rem;
}

#titleArea {
    flex: auto;
}

    #titleArea > a {
        color: #550000;
        text-decoration: none;
    }

#profileArea {
}

#title {
    font-size: 3rem;
    text-decoration: underline;
}

#subtitle {
    font-size: 1rem;
    font-style: italic;
}

.navlink {
    padding: 1px;
    text-align: center;
    color: #550000;
    text-decoration: none;
}

    .navlink:visited {
        color: #884444;
    }

    .navlink:hover {
        color: coral;
        background-color: saddlebrown;
    }
/*#endregion Top Section*/

/*#region Main Section*/
#dayArea, #searchArea, #fooditemArea {
    height: 40rem;
    padding: 0.2rem;
}

.note {
    display: flex;
    align-items: center;
}

    .note img {
        width: 2rem;
        height: 2rem;
        padding-right: 0.2rem;
    }

    .note span {
        padding-right: 0.2rem;
        font-size: 1rem;
        font-weight: bold;
    }

    .note label {
        font-size: 0.8rem;
    }
/*#region DayArea Block*/
#dayArea {
    display: flex;
    flex-direction: column;
}

.datepick {
    text-align: center;
}

    .datepick input {
        height: 2rem;
        font-size: 1rem;
        text-align: center;
        font-weight: bold;
    }

    .datepick button {
        width: 2rem;
        background-color: #BB6666;
        font-size: 1rem;
        font-weight: bold;
    }

.mealsArea {
    flex: auto;
    overflow: auto;
}

.mealArea {
}

.mealTitle, .mealTotal, .macroRes {
    font-size: 1.1rem;
    font-weight: bold;
}

.foodEntries {
}

.foodEntry {
    display: grid;
    grid-template-columns: 2.5rem 1fr 5rem;
}

    .foodEntry:hover {
        color: coral;
        background-color: saddlebrown;
    }

.name_brand {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

    .name_brand:hover {
        white-space: normal;
        word-break: break-all;
    }

.macroRes {
    grid-column: span 3;
    justify-self: center;
}

.mealTotal {
    text-align: center;
}

    .mealTotal span {
        width: 0px;
        white-space: nowrap;
        float: left;
    }
/*#endregion DayArea Block*/

/*#region SearchArea Block*/
#searchArea {
    display: flex;
    flex-direction: column;
}

    #searchArea form {
        padding: 0.2rem;
        text-align: right;
    }

        #searchArea form label {
            float: left;
        }

    #searchArea .search {
        height: 2rem;
        width: 100%;
        font-size: 1rem;
        font-weight: bold;
    }

    #searchArea .amountSize {
        height: 2rem;
        width: 30%;
        padding: 0 0.2rem;
        font-size: 1rem;
        font-weight: bold;
    }

.foodItem {
    display: grid;
    grid-template-columns: 1fr 4rem 3rem;
}

.searchResults {
    flex: auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.foodItem:hover {
    color: coral;
    background-color: saddlebrown;
}
.buffer{
    height:3rem;
}

.searchEntry {
    text-align: center;
    font-size: 1.1rem;
}

/*#endregion SearchArea Block*/

/*#endregion Main Section*/

/*#region Bottom Section*/
#author {
    margin: 1px;
    padding: 1px;
    font-size: 1rem;
}
/*#endregion Bottom Section*/

/*#region Misc Classes*/
.textHigh {
    font-size: 1.5rem;
    font-weight: bold;
}

.boxShow {
    margin: 1px;
    border: 1px solid red;
    border-radius: 5px;
}

.lineDown {
    border-bottom: 1px solid black;
}

.ftButton {
    padding: 0.5rem;
    margin: 0.1rem;
    width: 100%;
    background-color: #BB6666;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid black;
}
/*#endregion Misc Classes*/
